@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: local('Gilroy-Light'),
    url('../fonts/gilroylight.woff2') format('woff2'),
    url('../fonts/gilroylight.woff') format('woff'),
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src: local('Gilroy-ExtraBold'),
    url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff'),
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans'),
    url('../fonts/opensanslight.woff2') format('woff2'),
    url('../fonts/opensanslight.woff') format('woff'),
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'),
    url('../fonts/opensans.woff2') format('woff2'),
    url('../fonts/opensans.woff') format('woff'),
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
}

.b-container {
  width: 1160px;
  margin: 0 auto;
}

.b-header {
  position: relative;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  height: 299px;
  margin-top: 40px;
  padding: 0 60px;

  background-color: #f7e296;
}

.b-header__inner {
  height: 186px;
}

.b-header__logo {
  position: absolute;
  top: -19px;
  left: 60px;
}

.b-header__logo--state-active:hover {
  opacity: 0.6;
}

.b-header__logo--state-active:active {
  opacity: 0.3;
}

.b-header__half-block{
  padding-top: 35px;
  width: 50%;
}

.b-header__search-wrapper {
  position: relative;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  padding-left: 3px;
  width: 441px;
  height: 49px;

  border-bottom: 2px solid transparent;
}

.b-header__search-wrapper--state-active {
  border-bottom: 2px solid #000000;
}

.b-header__search-wrapper--state-active > .b-header__search-button {
  display: block;
}

.b-header__search-input {
  position: relative;

  padding-left: 17px;
  padding-right: 102px;
  flex-grow: 1;

  border: none;
  outline: none;
  background-color: transparent;

  opacity: 0.3;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  letter-spacing: -0.1px;
}

.b-header__search-input:focus {
  opacity: 1;
}

.b-header__search-button {
  display: none;
  position: absolute;
  right: 0;

  width: 85px;
  height: 49px;

  border: solid 2px #000000;
  border-bottom: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;

  font-family:"Open Sans",  "Arial", sans-serif;
}

.b-header__search-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.b-header__search-button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.b-header__nav-wrapper {
  margin-top: 31px;
  margin-left: -1px;
  position: relative;
}

.b-header__nav-wrapper--right {
  padding-left: 21px;
}

.b-header__nav-link {
  position: relative;

  padding-right: 26px;

  list-style: none;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  color: #000000;
  font-family: 'Gilroy', Arial, sans-serif;
}

.b-header__nav-link--main::after {
  content: "";
  position: absolute;
  top: 3px;
  right: -3px;

  width: 17px;
  height: 17px;

  background: url("../img/plus.svg") no-repeat;
  opacity: 0.3;
}

.b-header__nav-link:hover {
  opacity: 0.6;
}

.b-header__nav-link:active {
  opacity: 0.3;
}

.b-header__nav-sublist-wrapper {
  position: relative;
  display: flex;
  display: none;
  margin-left: -59px;
  padding: 24px 60px 0 60px;
  width: 1160px;
  height: 165px;
  z-index: 10;
  background-color: #f7e296;
}

.b-header__nav-wrapper:hover > .b-header__nav-sublist-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.b-header__nav-sublist {
  margin-right: 59px;
  line-height: 36px;
}

.b-header__nav-sublist--right {
  margin-left: 17px;
}

.b-header__sublist-link {
  text-decoration: none;
  font-size: 15px;
  letter-spacing: -0.2px;
  color: #000000;
}

.b-header__sublist-link:hover {
  opacity: 0.6;
}

.b-header__sublist-link:active {
  opacity: 0.3;
}

.b-header__nav-link--no-padding {
  position: absolute;
  right: -3px;
  padding: 0;
}

.b-header__action-block {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  justify-content: space-between;
}

.b-header__action-list {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  justify-content: flex-end;
  align-items: center;
  height: 49px;
  padding-left: 20px;

  border-bottom: 2px solid transparent;
}
.b-header__action-list-left {
  justify-content: flex-start;
}

.b-header__action-list-item {
  padding-bottom: 1px;
}

.b-header__action-list-item--exit {
  margin-left: 11px;
  opacity: 0.3;
}

.b-header__action-list-item--cart {
  margin-left: 41px;
}

.b-header__action-link {
  padding-left: 9px;

  text-decoration: none;
  color: #000000;
  font-size: 15px;
  letter-spacing: -0.2px;
}

.b-header__action-list-item:hover {
  opacity: 0.6;
}

.b-header__action-list-item:active {
  opacity: 0.3;
}

.b-header__compare-icon {
  margin-right: -3px;
}

.b-header__cart-icon {
  margin-right: -2px;
}

.b-promo-wrapper {
  position: relative;

  height: 580px;
  background-color: pink;
  background-color: white;
}

.b-promo__decorate-line {
  position: absolute;
  margin: 0;

  width: 100px;
  height: 7px;
  top: -74px;
  left: 600px;
  background-color: white;
  border-style: none;
}

.b-promo-nav {
  position: absolute;
  top: 213px;
  right: 84px;
  z-index: 12;
}

.b-promo__slide-button {
  width: 12px;
  height: 12px;
  border: none;
  margin-left: 17px;
  background-color: transparent;
  background-image: url("../img/slider-button-empty.svg");
  background-size: 12px 12px;
  cursor: pointer;
  /* tabindex: 0; */
}

.b-promo__slide-button--active {
  background-image: url("../img/slider-button.svg");
}


.b-promo {
  position: absolute;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  top: -111px;
  width: 1160px;
  padding: 0 60px;
}

.b-promo--hide {
  display: none;
}

.b-promo__half-block {
  position: relative;
  width: 50%;
  padding: 0 0 0 30px;
}

.b-promo__number {
  position: absolute;
  z-index: 5;

  right: -12px;
  top: -14px;
  font-weight: bold;
  font-size: 179px;
  color: #ffffff;
  letter-spacing: 1px;
  font-family: 'Gilroy', Arial, sans-serif;
}

.b-promo__slide2 {
  position: absolute;
  top: 12px;
  left: 56px;
}

.b-promo__slide3 {
  position: absolute;
  top: 65px;
  left: -29px;
}

.b-promo__header {
  position: relative;
  z-index: 10;
  font-weight: bold;
  font-size: 47px;
  font-family: 'Gilroy', Arial, sans-serif;
  padding-top: 79px;
  margin-left: -11px;
  line-height: 56px;
  letter-spacing: 0.5px;
}

.b-promo__desription {
  font-size: 15px;
  line-height: 30px;
  padding-top: 19px;
  margin-left: -11px;
  letter-spacing: -0.16px;
}

.b-promo__detail-button {
  position: absolute;
  left: 20px;
  top: 234px;
  width: 220px;
  height: 40px;

  font-weight: bold;
  font-size: 18px;
  font-family: 'Gilroy', Arial, sans-serif;
  margin-top: 79px;
  line-height: 40px;
  letter-spacing: 3.7px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  background-image: linear-gradient(to top, #f4d361 1px, #f0c52e, #f0c52e 1px);
  background-repeat: no-repeat;
  background-size: auto 8px;
  background-position: center;
}

.b-promo__detail-button:hover,
.b-promo__detail-button:active {
  background-color: #f0c52e;
  background-image: none;
}

.b-promo__detail-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.b-promo__detail-wrapper {
  position: relative;
  margin-left: -11px;
  margin-top: 140px;
  background-color: #f0c52e;
}

.b-promo__detail-item {
  position: absolute;
  top: 0px;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column-reverse;
}

abbr {
  text-decoration: none;
}

.b-promo__detail-item--second {
  left: 160px;
}

.b-promo__detail-item--third {
  left: 300px;
}

.b-promo__detail-item-key {
  font-size: 36px;
  font-family: 'Gilroy', Arial, sans-serif;
}

.b-promo__detail-item-value {
  margin-top: 16px;
  font-size: 13px;
  color: #464646;
}
/* ниже не проверять */



















h2 {
  margin: 0;
  padding-bottom: 8px;
  font-size: 47px;
}

.header {
  width: 1160px;
  height: 299px;
  margin-top: 40px;
  position: relative;
  background-color: #f7e296;
}

.container {
  display: flex;
  width: 1160px;
  justify-content: center;
}

.topLogo {
  position: absolute;
  left: 60px;
  top: -18px;
}

.hovering:hover {
  opacity: 0.6;
}

.hovering:active {
  opacity: 0.3;
  outline: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.halfMenu {
  display: flex;
  align-items: center;
  width: 500px;
  height: 49px;
  margin: 0 19.5px;
}

nav,
.container {
  background-color: inherit;
}

nav .container {
  height: 82px;
  padding-top: 33px;
}

nav .container:last-child {
  padding-top: 17px;
}

.text {
  border: none;
  background-color: inherit;
  color: black;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: -0.1px;
  text-transform: none;
  text-decoration: none;
}

.text.noHover:hover,
.text.noHover:active {
  color: rgb(0, 0, 0);
}

.iconed {
  position: relative;
}

.iconed::before {
  content: "";
  width: 30px;
  height: 16px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.searchControl {
  position: relative;
  margin-top: 0px;
  align-items: baseline;
  /* border-bottom: 2px solid black; */
}

.searchIcon::before {
  top: -13px;
  left: 2px;
  background-image: url("/img/search.svg");
}

.searchText {
  flex-grow: 1;
  height: inherit;
  padding-left: 37px;
  opacity: 0.4;
}

.searchButton {
  display: none;
  margin-left: 10px;
  width: 85px;
  height: 47px;
  border: 2px solid black;
  border-bottom: none;
}

.searchButton:hover {
  background-color: black;
  color: white;
  opacity: 1;
}

.searchButton:active {
  background-color: black;
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.login {
  margin-left: 26px;
  margin-right: 18px;
}

.login .iconed::before {
  top: 4px;
  left: -26px;
  background-image: url("/img/user.svg");
}

.logout button {
  color: rgba(0, 0, 0, 0.3);
}

.compare {
  margin-left: auto;
}

.compare .iconed::before {
  top: 6px;
  left: -20px;
  background-image: url("/img/compare.svg");
}

.cart {
  padding-right: 0px;
  margin-left: 62px;
}

.cart .iconed::before {
  top: 4px;
  left: -21px;
  background-image: url("/img/cart.svg");
}

.mainItem {
  margin: 0;
  padding: 0;
  border: none;
  background-color: inherit;
  letter-spacing: 3.6px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

.mainItem:hover {
  color: rgba(0, 0, 0, 0.6);
}

.mainItem:active {
  color: rgba(0, 0, 0, 0.3);
  outline: none;
}

.mainItem.menuCatalog {
  position: relative;
  margin-left: 59px;
  /* align-self: flex-start; */
}

.menuCatalog::after {
  content: "";
  width: 100px;
  height: 16px;
  opacity: 0.3;
  position: absolute;
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 3px;
  left: 231px;
  background-image: url("/img/plus.svg");
}

.menuCatalog:hover > .subMenu {
  display: flex;
}

.menuContacts {
  margin-left: 108px;
  margin-right: 57px;
}

.menuDeliver {
  margin-left: auto;
  /* margin-left: 34px; */
  margin-right: 34px;
}
.container_ {
  position: relative;
}
.halfMenu2 {
  display: flex;
  width: inherit;
  height: 180px;
  margin-top: 31px;
}

.halfMenu3 {
  position: absolute;
  display: flex;
  right: 0px;
  top: 0px;
}

.subMenu {
  display: none;
  /* display: flex; */
  height: 142px;
  width: 1160px;
  margin-top: 22px;
  margin-left: -59px;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
  background-color: pink;
}

.subMenu li {
  width: 240px;
  height: 36px;
  margin-left: 59px;
  line-height: 36px;
}

.subMenu li:nth-child(n+4) {
  width: 200px;
  margin-left: 0px;
}





footer .svg {
  fill: rgb(240, 197, 46);
}



.popular a{
  display: inline-block;
  width: 160px;
  background-image: linear-gradient(rgba(240, 197, 46, 0.5), rgba(240, 197, 46, 0.5));
  background-size: 160px 160px;
  background-repeat: no-repeat;
}

.popular div > div{
  position: relative;
  width: auto;
  height: 160px;
}

.popular a:hover,
.popular a:active
{
  background-image: linear-gradient(rgba(240, 197, 46, 1), rgba(240, 197, 46, 1));
}

.popular a > div:active {
  opacity: 0.3;
}

.popular img{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.popular h3{
  display: inline-block;
  width: 160px;
  margin-top: 33px;
  line-height: 24px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.logos img{
  opacity: 0.2;
  filter: grayscale(1);
}

.logos img:hover {
  opacity: 1;
  filter: grayscale(0);
}

.aboutUs ul{
  padding-top: 50px;
  padding-bottom: 33px;
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;
}

.aboutUs p {
  margin-top: 30px;
}

footer {
  background-color: rgb(70, 70, 70);
}

footer .item,
footer .mainItem
{
  color: white;
}

.bottomMenu .item {
  opacity: 0.7;
}
.bottomMenu .item:hover {
  opacity: 1;
}
.bottomMenu .item:active {
  opacity: 0.3;
}

footer .item.noHover:active,
footer .item.noHover:hover
{
  color: white;
  opacity: 1;
}

.social
{
  opacity: 0.3;
}

.social:hover,
.htmlAcademy:hover
{
  opacity: 0.6;
}

.htmlAcademy:active{
  opacity: 0.3;
}

.social:active {
  opacity: 0.1;
}
