@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: local('Gilroy-Light'),
    url('../fonts/gilroylight.woff2') format('woff2'),
    url('../fonts/gilroylight.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src: local('Gilroy-ExtraBold'),
    url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans'),
    url('../fonts/opensanslight.woff2') format('woff2'),
    url('../fonts/opensanslight.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'),
    url('../fonts/opensans.woff2') format('woff2'),
    url('../fonts/opensans.woff') format('woff');
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
}

.g-container {
  position: relative;

  width: 1160px;
  margin: 0 auto;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.g-flex {
  position: relative;
  min-height: 10px;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.g-ul-menu {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.g-ul-menu--right {
  justify-content: flex-end;
}

.g-icon-link {
  margin: 0;
  margin-right: 40px;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.g-icon-link--no-image {
  margin-left: -18px;
  opacity: 0.3;
}

.g-ul-menu li:last-child{
  margin-right: 0px;
}

.g-icon-link--right {
  margin: 0;
  margin-left: 39px;
}

.g-ul-menu--right li:first-child {
  margin-left: 0px;
}

.g-icon-link__img-wrapper{
  width: 16px;
  height: 15px;
  margin-right: 10px;
}

.g-icon-link__img {
}

.g-icon-link__text {
  padding: 0;
  margin: 0;
  border: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  text-decoration: none;
  color: #000000;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
}

.g-upper-link__text {
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  list-style: none;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  word-spacing: 1px;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Gilroy', Arial, sans-serif;
  text-decoration: none;
  color: #000000;
}

.g-yellow-button {
  padding: 0;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Gilroy', Arial, sans-serif;
  line-height: 40px;
  letter-spacing: 3.7px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  background-image: -webkit-linear-gradient(to top, #f4d361 1px, #f0c52e, #f0c52e 1px);
  background-image: -moz-linear-gradient(to top, #f4d361 1px, #f0c52e, #f0c52e 1px);
  background-image: -o-linear-gradient(to top, #f4d361 1px, #f0c52e, #f0c52e 1px);
  background-image: -ms-linear-gradient(to top, #f4d361 1px, #f0c52e, #f0c52e 1px);
  background-image: linear-gradient(to top, #f4d361 1px, #f0c52e, #f0c52e 1px);
  background-repeat: no-repeat;
  background-size: 100% 8px;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.g-yellow-button:hover,
.g-yellow-button:active {
  background-color: #f0c52e;
  background-image: none;
}

.g-upper-link__text:hover {
  color: rgba(0, 0, 0, 0.6);
}

.g-upper-link__text:active {
  color: rgba(0, 0, 0, 0.3);
}

.g-header__top-right-menu ul{
   max-width: 300px;
   flex-wrap: wrap;
}

.g-icon-link__text:hover {
  color: rgba(0, 0, 0, 0.6);
}

.g-icon-link__text:active {
  color: rgba(0, 0, 0, 0.3);
}

.g-icon-link__text:hover .g-icon-link__img {
  opacity: 0.6;
}

.g-icon-link__text:active .g-icon-link__img {
  opacity: 0.3;
}

.g-icon-link__img-cart {
  margin-left: 2px;
}

.g-icon-link__img-compare {
  margin-left: 5px;
}

.g-icon-link__img-login {
  margin-left: 0px;
}


.g-header {
  margin-top: 40px;
  padding: 0 60px;
  min-height: 299px;

  flex-direction: column;
  background-color: #f7e296;
}

.g-header--inner {
  min-height: 186px;
}
.g-header__logo {
  position: absolute;
  top: -69px;
  left: 59px;
}

.g-header__logo:hover {
  opacity: 0.6;
}

.g-header__logo:active {
  opacity: 0.3;
}

.g-header-line-wr {
  margin-top: 6px;
  justify-content: space-between;
}

.g-header-line-wr .g-flex {
  margin-top: 28px;
  max-width: 500px;
  width: 500px;
}

.g-header-line-wr:nth-child(2) {
  margin-top: 4px;
}

.g-header__search-input {
  position: relative;
  width: 300px;
  height: 49px;
  padding: 0 10px;
  margin-left: 29px;

  flex-grow: 0;
  background-color: transparent;
  opacity: 0.3;
  border-bottom: 2px solid transparent;
  font-weight: 300;
}

.search-icon::before {
  content: "";
  position: absolute;
  width:20px;
  height: 49px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 3px 17px;
}

.g-header__search-input:hover {
  opacity: 0.6;
}

.g-header__search-input:focus {
  outline: none;
}

.g-header__search-input--focused {
  flex-grow: 1;
  border-bottom: 2px solid #000000;
  opacity: 1;
}

.g-header__search-input--focused:hover {
  border-bottom: 2px solid #000000;
  opacity: 1;
  color: #000000;
}

.g-header__search-button {
  display: none;
  width: 85px;
  height: 49px;
  margin-right: 40px;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  border: 2px solid #000000;
  color: #000000;
}

.g-header__search-button--active {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.g-header__search-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.g-header__search-button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.g-header__top-right-menu {
  justify-content: space-between;
  align-items: center;
}

.g-header-line-wr .g-header__bottom-left {
  margin-left: -1px;
  min-height: 50px;
  min-width: 200px;
  width: 250px;
}

.bottom-left__catalog {
  align-items: flex-start;
}

.bottom-left__catalog::after {
  content: "";
  position: absolute;
  top: 1px;
  right: -29px;

  width: 17px;
  height: 17px;

  background: url("../img/plus.svg") no-repeat;
  opacity: 0.3;
}

.g-header__bottom-left .g-header__submenu-wr {
  display: none;
  position: absolute;
  z-index: 20;
  top: 18px;
  left: -59px;
  width: 1160px;
  max-width: 1160px;
  min-height: 137px;
  background-color: #f7e296;
}

.g-header__submenu-wr .g-icon-link__text {
  font-weight: 400;
  letter-spacing: -0.3px;
  line-height: 36px;
  word-spacing: 1px;
}

.g-header__submenu-wr ul{
  min-width: 200px;
}

.g-header__submenu-wr ul:nth-child(1){
  min-width: 239px;
  margin-left: 60px;
}

.g-header__bottom-left:hover .g-header__submenu-wr {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.service-menu {
  width: 100%;
  flex-wrap: wrap;
}

.service-menu .g-icon-link{
  margin-right: 35px;
  margin-bottom: 20px;
  align-items: flex-start;
}

.service-menu li:nth-child(3n){
  flex-grow: 1;
  justify-content: flex-end;
  margin-right: -2px;
}

.g-promo-wrapper {
  position: relative;
  margin-bottom: -100px;
  height: 580px;
  background-color: white;
}

.g-promo {
  top: -111px;
  left: -60px;
  width: 1160px;
}
.g-flex.g-promo {
  justify-content: space-between;
}

.g-promo--hide {
  display: none;
}

.g-promo__decorate-line {
  position: absolute;
  margin: 0;

  width: 100px;
  height: 7px;
  top: -74px;
  left: 600px;
  background-color: white;
  border-style: none;
}

.g-promo__info-wr {
  margin-left: 60px;
  width: 580px;
  position: relative;
}

.g-promo__number {
  position: absolute;
  z-index: 5;

  right: -12px;
  top: -15px;
  font-weight: 800;
  font-size: 179px;
  color: #ffffff;
  letter-spacing: 0.7px;
  font-family: 'Gilroy', Arial, sans-serif;
}

.g-promo__header {
  position: relative;
  margin-left: 20px;
  padding-top: 79px;
  z-index: 10;
  font-weight: bold;
  font-size: 47px;
  font-family: 'Gilroy', Arial, sans-serif;
  line-height: 56px;
  letter-spacing: 0.5px;
}

.g-promo__desription {
  margin-left: 20px;
  font-size: 15px;
  line-height: 30px;
  padding-top: 19px;
  font-weight: 300;
  word-spacing: 1px;
}

.g-yellow-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.g-promo__detail-button {
  position: absolute;
  left: 20px;
  top: 313px;
  width: 220px;
  height: 40px;

  padding-left: 4px;
}

.g-promo__detail-wrapper {
  position: relative;
  margin-top: 139px;
  min-height: 66px;
}

.g-promo__detail-item {
  margin-left: 19px;
  position: absolute;
  flex-direction: column-reverse;
}

abbr {
  text-decoration: none;
}

.g-promo__detail-item--second {
  left: 160px;
}

.g-promo__detail-item--third {
  left: 299px;
}

.g-promo__detail-item-key {
  font-size: 36px;
  font-family: 'Gilroy', Arial, sans-serif;
}

.g-promo__detail-item-value {
  margin-top: 17px;
  font-size: 13px;
  color: #464646;
}

.g-promo-nav {
  position: absolute;
  top: 213px;
  right: 83px;
  z-index: 12;
}

.g-promo__slide-button {
  width: 12px;
  height: 12px;
  border: none;
  margin-left: 17px;
  background-color: transparent;
  background-image: url("../img/slider-button-empty.svg");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  cursor: pointer;
  outline: none;
}

.g-promo__slide-button--active {
  background-image: url("../img/slider-button.svg");
  background-repeat: no-repeat;
}


.promo-img1 {
  position: absolute;
  left: 90px;
}

.promo-img2 {
  position: absolute;
  top: 12px;
  left: 116px;
}

.promo-img3 {
  position: absolute;
  top: 65px;
  left: 31px;
}

.g-popular {
  margin-top: 1px;
  width: 1160px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.g-popular__text {
  position: relative;
  max-width: 160px;
  text-decoration: none;
}

.g-popular__image-wrapper{
  position: relative;
  margin-bottom: 33px;
  width: 160px;
  height: 160px;
  background-color: rgba(240, 197, 46, 0.5);
}

.g-popular__text:hover {
  background-image: linear-gradient(to bottom, rgba(240, 197, 46, 1) 0px, rgba(240, 197, 46, 1) 160px, #ffffff 160px);
}

.g-popular__text:active .g-popular__image,
.g-popular__text:active h3{
  opacity: 0.3;
}

.g-popular__text h3{
  font-size: 18px;
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: bold;
  line-height: 24px;
  color: black;
}

.g-popular__image{
  position: absolute;
}

.g-popular__image--vr{
  top: 52px;
  left: 31px;
}

h3.g-popular__text--vr {
  letter-spacing: 0.4px;
}

.g-popular__image--monopod{
  top: 41px;
  left: 38px;
}

h3.g-popular__text--monopod {
  letter-spacing: 0.25px;
}

.g-popular__image--actioncam{
  top: 38px;
  left: 49px;
}

h3.g-popular__text--actioncam {
  margin-left: -1px;
  letter-spacing: 0.2px;
}

.g-popular__image--fitnbra{
  top: 50px;
  left: 28px;
}

h3.g-popular__text--fitnbra {
  letter-spacing: 0px;
}

.g-popular__image--smartclock{
  top: 32px;
  left: 55px;
}

h3.g-popular__text--smartclock {
  letter-spacing: 0.15px;
}

.g-popular__image--qwadro{
  top: 49px;
  left: 13px;
}

h3.g-popular__text--qwadro {
  margin-left: -1px;
  letter-spacing: 0.25px;
}

.g-container-services {
  position: relative;
  height: 288px;
  margin-top: 163px;
  background-color: #e5e5e5;
}

.g-services-wr {
  position: relative;
  top: -100px;
}

.g-services__button-list {
  width: 284px;
  height: 319px;
  padding-top: 66px;
  flex-direction: column;
  border-right: 7px solid black;
}

.g-services__list-item {
  height: 65px;
  align-items: center;
}

.g-services__button {
  width: 160px;
}

.g-services__button--active,
.g-services__button--active:hover{
  position: relative;
  color: #f7e184;
  background-color: #000000;
  background-image: none;
  cursor: default;
  outline: none;
}

.g-services__button--active .g-services__button-text--delivery {
  margin-left: 3px;
}

.g-services__button-text--delivery {
  margin-left: 2px;
}

.g-services__button--active .g-services__button-text--waranty {
  margin-left: 10px;
}

.g-services__button-text--waranty {
  margin-left: 4px;
}

.g-services__button--active .g-services__button-text--credit {
  margin-left: 10px;
}

.g-services__button-text--credit {
  margin-left: 1px;
}

.g-services__button--active::after {
  content: "";
  position: absolute;
  top: 0px;
  right: -117px;
  width: 117px;
  height: 40px;
  background-color: #000000;
}

.g-services__detail-container {
  position: relative;
  flex-grow: 1;
}

.g-services__detail-container--hide {
  display: none;
}

.g-services__detail-container::after {
  content: "";
  position: absolute;
  width: 180px;
  height: 195px;
}

.g-services__detail-delivery::after {
  top: 85px;
  right: 22px;
  background: url("../img/delivery.svg") no-repeat;
}

.g-services__detail-warranty::after {
  top: 61px;
  right: 37px;
  background: url("../img/warranty.svg") no-repeat;
}

.g-services__detail-credit::after {
  background: url("../img/credit.svg") no-repeat;
  top: 61px;
  right: 46px;
}

.g-services__detail-header {
  position: absolute;
  top: 74px;
  left: 117px;

  letter-spacing: 1px;
  font-weight: bold;
  font-size: 47px;
  font-family: 'Gilroy', Arial, sans-serif;
}

.g-services__detail-content {
  position: absolute;
  top: 152px;
  left: 115px;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.g-logos {
  margin-top: 94px;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.g-logos a{
  position: relative;
  opacity: 1;
}

.g-logos a:hover::before {
  content: "";
  position: absolute;
  top: -83px;
  left: 0;
  width: 260px;
  height: 100px;
  z-index: 1;
}

.g-logo1:hover::before {
  background-image: url("../img/logo-1.png");
}

.g-logo2:hover::before {
  background-image: url("../img/logo-2.png");
}

.g-logo3:hover::before {
  background-image: url("../img/logo-3.png");
}

.g-logo4:hover::before {
  background-image: url("../img/logo-4.png");
}

.g-about-us__wr{
  position: relative;
  padding-top: 100px;
  width: 560px;
}

.g-about-us {
  width: 100%;
  min-height: 746px;
  justify-content: space-between;
}

.g-about-us__decorate-line {
  position: absolute;
  margin: 0;
  width: 80px;
  height: 7px;
  top: 91px;
  left: 0px;
  background-color: #000000;
  border-style: none;
}

.g-about-us__header {
  margin-left: -3px;
  margin-bottom: 1px;
  font-weight: bold;
  font-size: 47px;
  font-family: 'Gilroy', Arial, sans-serif;

  line-height: 56px;
  letter-spacing: 0.5px;
}

.g-about-us__content {
  padding-top: 38px;
  margin-left: -1px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: -0.2px;
}

.g-about-us__content--2 {
  padding-top: 30px;
  letter-spacing: -0.5px;
}

.g-about-us__transport-company {
  margin-top: 66px;
  margin-bottom: 90px;
  margin-left: 35px;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Gilroy', Arial, sans-serif;
  line-height: 40px;
}

.g-about-us__transport-company li {
  position: relative;
}

.g-about-us__transport-company li::before {
  content: "";
  position: absolute;
  top: 16px;
  left: -34px;
  width: 8px;
  height: 8px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.g-about-us__map {
  margin-top: 39px;
}

.g-yellow-button--about-us {
  position: absolute;
  width: 260px;
  height: 40px;
  left: 0px;
  bottom: 82px;
  text-indent: 4px;
}

.g-container-footer {
  position: relative;
  height: 323px;
  background-color: #464646;
  color: #ffffff;
}

footer .g-container {
  flex-direction: column;
}

.g-footer__logo {
  position: absolute;
  top: 65px;
  left: -1px;
  z-index: 1;
}

.g-footer__logo:active,
.g-footer__service-menu-item:active,
.g-footer__html-academy-link:active {
  opacity: 0.3;
}

.g-footer__logo:hover,
.g-footer__service-menu-item:hover,
.g-footer__html-academy-link:hover {
  opacity: 0.6;
}


.g-footer__logo-img,
.g-footer__html-academy {
  fill: rgb(240, 197, 46);
}

.g-footer-top-menu .g-icon-link__text {
  color: rgba(255, 255, 255, 0.7);
}

.g-footer-top-menu {
  margin-top :64px;
  justify-content: flex-end;
}

.g-footer-top-menu .g-icon-link__img-cart {
  margin-left: 3px;
}

.g-footer-top-menu .g-icon-link__img-compare {
  margin-left: 6px;
}

.g-footer-top-menu .g-icon-link__img-login {
  margin-left: 0px;
}

.g-footer-top-menu li:first-child {
  margin-right: -1px;
}

.g-footer-top-menu .g-icon-link__text:hover {
  color: rgba(255, 255, 255, 1);
  opacity: 1;
}

.g-footer-top-menu .g-icon-link__text:hover .g-icon-link__img {
  opacity: 0.6;
}

.g-footer-top-menu .g-icon-link__text:active {
  opacity: 0.3;
}

.g-footer-top-menu .g-icon-link__img {
  fill: #ffc600;
}

.g-footer__middle-wrapper {
  margin-top: 45px;
  justify-content: space-between;
}

.g-footer__middle-text {
  margin-left: -1px;
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  font-style: normal;
  letter-spacing: -0.3px;
}

.g-footer__middle-text--tel {
  margin-right: 0px;
  letter-spacing: -0.1px;
}

.g-footer__service-menu {
  margin-left: -37px;
  margin-top: 1px;
  justify-content: center;
}

.g-footer__service-menu-item {
  margin: 0 17px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Gilroy', Arial, sans-serif;
}

.g-footer__service-menu li:last-child {
  text-indent: -2px;
}

.g-footer__middle-wrapper-bottom {
  margin-top: 72px;
}

.g-footer__social-menu {
  margin-top: -5px;
  flex-grow: 1;
  justify-content: center;
}

.g-footer__social-menu li {
  margin: 0 11.5px;
}

.g-footer__social-menu-item {
  opacity: 0.3;
}

.g-footer__social-menu-item:hover {
  opacity: 1;
}

.g-footer__social-menu-item:active {
  opacity: 0.1;
}

.g-footer__decorate {
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
  border: none;
}

.g-footer__html-academy-link {
  position: absolute;
  top: 229px;
  right: 0;
  margin-top: -7px;
}

.g-modal {
  position: fixed;
  width: 960px;
  z-index: 9999;
  top: 50%;
  left: 50%;
  display: block;
  width: 100%;
  max-width: 960px;
  height: 553px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  box-shadow: 0px 10px 25px 3px rgba(0, 0, 0, 0.2);
}

.g-modal--map {
  height: 559px;
  background-color: #e9e9e9;
}

.g-modal-close-button {
  position: absolute;
  width: 55px;
  height: 55px;
  right: 22px;
  top: 22px;;
  background-color: transparent;
  border: none;
  background-image: url("../img/modal-close.svg");
  opacity: 0.5;
  z-index: 1;
  outline: none;
  cursor: pointer;
}

.g-modal-close-button:hover {
  opacity: 1;
}

.g-modal-close-button:active {
  opacity: 0.3;
}

.g-modal--hide {
  display: none;
}

.g-modal--feedback {
  height: 553px;
  background-color: #ffffff;
}

.g-modal-editors-wr {
  margin: 92px 100px 0 100px;;
  justify-content: space-between;
}

.g-modal-editor-wr {
  width: 360px;
  flex-direction: column;
}

.g-modal-editor {
  padding: 0 16px;
  border: 3px solid #f2f2f2;
  background-color: #f2f2f2;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.3px;
  color: black;
}

.g-modal-editor:hover {
  background-color: #eaeaea;
  border: 3px solid #eaeaea;
}

.g-modal-editor:focus {
  background-color: #ffffff;
  border: 3px solid #f7e296;
  outline: none;
}
.g-modal-editor:invalid {
  background-color: #f6dada;
  border: 3px solid #f6dada;
}

.g-modal-editor--input {
  margin-top: 7px;
  height: 50px;
}

.g-modal-label {
  font-weight: bold;
  font-size: 18px;
  font-family: 'Gilroy', Arial, sans-serif;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.g-modal-leter-body-wr {
  margin: 32px 100px;
  margin-bottom: 0;
  width: 760px;
  flex-direction: column;
}

.g-modal-editor--leter-body {
  min-height: 156px;
  margin-top: 8px;
  padding-top: 12px;
  line-height: 18px;
}

.g-yellow-button--send-feedback {
  margin-top: 35px;
  margin-left: 100px;
  width: 200px;
}

.g-inner__header {
  margin: 31px 60px 25px 59px;
  padding-top: 2px;
  letter-spacing: 0.65px;
}

.g-inner-header-wr {
  flex-direction: column;
}

.g-inner-header-wr ul {
  margin-left: 59px;
  margin-right: 60px;
  flex-wrap: wrap;
}

.g-inner-text {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.1px;
}

.g-inner-bold-text {
  font-weight: bold;
  font-size: 18px;
  font-family: 'Gilroy', Arial, sans-serif;
  line-height: 24px;
  letter-spacing: 0.25px;
  text-decoration: none;
  color: black;
}

.g-inner-price-text {
  font-weight: normal;
  font-size: 16px;
  font-family: 'Gilroy', Arial, sans-serif;
  line-height: 24px;
  letter-spacing: 0.25px;
  text-decoration: none;
  color: black;
}

.g-inner-breadcrumbs-item {
  position: relative;
  padding-right: 39px;
  color: rgba(0, 0, 0, 0.3);
}

.g-inner-breadcrumbs-item a {
  text-decoration: none;
  opacity: 0.3;
  color: black;
}

.g-inner-breadcrumbs-item a:hover {
  opacity: 0.6;
}

.g-inner-breadcrumbs-item a:active {
  opacity: 0.1;
}

.g-inner-breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  top: 4px;
  right: 19px;
  background-image: url("../img/nav-arrow.svg");
}

.g-inner-cont-header-wr {
  margin-top: 51px;
  height: 70px;
  background-image: -webkit-linear-gradient(left,#dbdbdb 0,#dbdbdb 28%,#ebebeb 28%,#ebebeb 100%);
  background-image: -o-linear-gradient(left,#dbdbdb 0,#dbdbdb 28%,#ebebeb 28%,#ebebeb 100%);
  background-image: linear-gradient(to right,#dbdbdb 0,#dbdbdb 28%,#ebebeb 28%,#ebebeb 100%);
}

.g-inner-content-wr {
  min-height: 1217px;
  background-image: -webkit-linear-gradient(left,#eeeeee 0,#eeeeee 28%,#ffffff 28%,#ffffff 100%);
  background-image: -o-linear-gradient(left,#eeeeee 0,#eeeeee 28%,#ffffff 28%,#ffffff 100%);
  background-image: linear-gradient(to right,#eeeeee 0,#eeeeee 28%,#ffffff 28%,#ffffff 100%);
}
.g-inner-content-wr .g-container {
  width: 1161px;
}

.g-inner-cont-header--filter {
  width: 328px;
  height: 70px;
  padding-left: 61px;
  background-color: #dbdbdb;
}
.g-inner-aside-wr {
  width: 328px;
  height: auto;
  background-color: #eeeeee;
}

.g-inner-main-wr {
  width: 833px;
}

.g-inner-cont-header--sort {
  height: 70px;
  padding-left: 73px;
  background-color: #ebebeb;
  width: 832px;
}

.g-inner-cont__sort-type {
  padding-top: 24px;
  margin-left: 20px;
}

.g-inner-cont__sort-type li {
  margin-left: 31px;
}

.g-inner-sort-button {
  padding: 0;
  opacity: 0.3;
  outline: none;
  cursor: pointer;
}

.g-inner-sort-button-mode {
  padding: 0;
  opacity: 0.2;
  outline: none;
  cursor: pointer;
}

.g-inner-sort-button:hover {
  opacity: 0.6;
}

.g-inner-sort-button-mode:hover {
  opacity: 0.4;
}

.g-inner-sort-button:active,
.g-inner-sort-button--active,
.g-inner-sort-button--active:hover,
.g-inner-sort-button-mode:active,
.g-inner-sort-button-mode--active,
.g-inner-sort-button-mode--active:hover {
  opacity: 1;
  cursor: auto;
}

.g-inner-sort-directions {
  margin-left: auto;
  width: 50px;
}

.g-inner-cont__sort-mode {
  padding-top: 26px;
  margin-left: auto;
}

.g-inner-cont__sort-mode li{
  margin-right: -1px;
  margin-left: 20px;
}

.g-inner-cont-header-wr h3,
.g-inner-page_first-last {
  margin: 0;
  margin-top: 23px;
  font-family: 'Gilroy', Arial, sans-serif;
  line-height: 24px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  color: #000;
}

.g-inner-cont-header--sort button {
  border:  none;
  background-color: transparent;
}

.g-inner-products {
  padding-top: 69px;
  padding-left: 73px;
  flex-wrap: wrap;
}

.g-inner-product {
  position: relative;
  margin-bottom: 46px;
}

.g-inner-new-item {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 29px;
  left: 273px;
  padding-top: 17px;
  padding-left: 14px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  font-family: 'Gilroy', Arial, sans-serif;
  line-height: 24px;
  font-size: 14px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.2);
}

.g-inner-new-item--hide {
  display: none;
}
.g-inner-product:nth-child(2n) {
  padding-right: 40px;
}

.g-inner-product:hover .g-inner-hover-info {
  position: absolute;
  display: block;
  width: 360px;
  height: 380px;
  background-color: rgba(238, 238, 238, 0.7);
  top: 0px;
  left: 0px;
}

.g-inner-hover-info {
  display: none;
}

.g-yellow-button__basket {
  position: absolute;
  width: 200px;
  top: 171px;
  left: 80px;
}

.g-inner-to-compare-button {
  position: absolute;
  top: 225px;
  left: 104px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.1px;
  border: none;
  background-color: transparent;
  opacity: 0.5;
  cursor: pointer;
  outline: none;
}

.g-inner-to-compare-button:hover {
  opacity: 1;
}

.g-inner-to-compare-button:active {
  opacity: 0.2;
}

.g-inner-product-info {
  padding-top: 30px;
  justify-content: space-between;
}

.g-inner-product-price {
  padding-top: 1px;
}

.g-inner-pagination-wr {
  min-height: 70px;
  margin-top: -10px;
  margin-left: 73px;
  background-color: #ebebeb;
}

.g-inner-pagination__pages {
  margin-top: 24px;
  margin-right: 11px;
  flex-grow: 1;
  justify-content: center;
}

.g-inner-page_first-last {
  width: 126px;
  height: 70px;
  margin: 0;
  padding-top: 23px;
  padding-left: 30px;
  text-decoration: none;
  background-color: #ebebeb;
}

.g-inner-page_first-last:hover {
  background-color: #d9d9d9;
}

.g-inner-page_first-last:active {
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3);
}

.g-inner-page_last {
  width: 137px;
  padding-left: 31px;
}

.g-inner-page-num {
  opacity: 0.3;
  padding: 0;
  margin-left: 28px;
}

.g-inner-page-num:hover {
  opacity: 0.6;
}

.g-inner-active-page-num,
.g-inner-page-num:active {
  opacity: 1;
}

.g-inner-pagination__pages .g-inner-page_first-last:hover {
  background-color: #ebebeb;
}

.g-inner-filter-form {
  flex-direction: column;
  margin-top: 69px;
  margin-left: 59px;
  width:201px;
}

.g-inner-filter-form fieldset {
  flex-direction: column;
  position: relative;
  margin-bottom: 35px;
}

.g-inner-filter-form fieldset::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 0;
  left: 0;
  background-color: #000000;
}
.g-inner-filter-form legend {
  display: block;
  padding: 0;
  padding-top: 12px;
  margin-left: 1px;
}

.footer-exit-button {
  margin-right: -2px;
  margin-left: 22px;
}

.g-inner-filter-price-range {
  margin-top: 35px;
}

.g-inner-filter-price-range__controls {
  position: relative;
  margin-top: 17px;
  margin-bottom: 8px
}

.g-inner-filter-price-range__controls .g-inner-filter-price-range__scale {
  height: 2px;
  background-color :#dbdbdb
}

.g-inner-filter-price-range__controls .g-inner-filter-price-range__bar {
  position: absolute;
  left: 0;
  width: 60%;
  height: 2px;
  background:#91c92f
}

.g-inner-filter-price-range-toggle {
  content: "";
  position: absolute;
  top: -10px;
  width: 20px;
  height: 20px;
  background :#ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0,1,1,.2);
  box-shadow: 0 2px 1px 0 rgba(0,1,1,.2);
  cursor: pointer;
}

.g-inner-filter-price-range-toggle:active {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2)
}

.g-inner-filter-price-range-toggle-min {
  left: -4px
}

.g-inner-filter-price-range-toggle-max {
  left: 109px
}

.g-inner-filter-price-range-price-label {
  border: none;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
  background-color: transparent
}

.g-inner-filter-price-range-max{
  display: inline-block;
  position: relative;
  left: 60px;
  vertical-align: top;
}

.g-inner-filter-colors{
  padding-top: 18px;
}

.g-inner-filter-colors label,
.g-inner-filter-bt label{
  position: relative;
  padding-left: 40px;
  line-height: 40px;
  cursor: pointer;
}

.g-inner-filter-colors label:hover::before,
.g-inner-bt-radio + label:hover::before {
  opacity: 0.6;
}

.g-inner-filter-colors label:active::before,
.g-inner-bt-radio + label:active::before {
  opacity: 1;
}

.g-inner-color-checkbox + label::before,
.g-inner-bt-radio + label::before{
  content:"";
  position: absolute;
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  left: 0px;
}

.g-inner-color-checkbox:checked + label::before {
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
}

.g-inner-color-checkbox + label::before {
    top: 8px;
    background-image: url("../img/checkbox-off.svg");
}

.g-inner-color-checkbox:disabled + label {
  color: #a6a6a6;
}

.g-inner-color-checkbox:disabled + label::before,
.g-inner-bt-radio:disabled + label::before {
  opacity: 0.25;
}

.g-inner-filter-bt {
  margin-top: -4px;
  padding-top: 19px;
}

.g-inner-bt-radio:checked + label::before {
    background-image: url("../img/radio-on.svg");
    background-repeat: no-repeat;
}

.g-inner-bt-radio + label::before {
    top: 5px;
    background-image: url("../img/radio-off.svg");
}

.g-yellow-button--apply-filter {
  margin-top: -5px;
  text-indent: 3px;
}
